@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Yeseva+One&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: white;
}
.title{
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subtitle{
    font-family: 'Nunito Sans', sans-serif;;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;

}
.header {
    background-color: #131313;
    max-width: 1440px;
    margin: 0 auto;
}
.content-container{
    max-width: 1256px;
    margin: 0 auto;

}
.container{
    display: flex;
    justify-content: space-between;
}
.nav-container{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}
.nav{
    display: flex;
    margin-left: 123px;
}
.phone{
    margin-left: 95px;
}
.button{
    background: #E3B873;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    border: #E3B873 solid 1px;
    border-radius: 2px;
}
.header-button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 44px;
    padding: 10px 33px;
}
.header-text{
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}

.phone-text{
    color: #E3B873;
    text-decoration: inherit;
}
.header-button-text{
    font-style: italic;
}
.nav-item{
    padding-right: 55px;
}
.nav-item:last-child{
    padding-right: 0;
}
nav ul li a:hover{
    color: #E3B873;
}
.home-section{
    background-image: url("/img/image 4.3.jpg");
    background-color: rgba(0,0,0,0.3);
}
.home-section-container{
    padding-left: 134px;
    padding-top:194px;
    padding-bottom: 205px;
}
.home-text-title{
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.home-text{
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.home-button{
    margin-top: 25px;
    padding: 15px 43px;
}
.home-button-trans{
    padding: 15px 28px;
    margin-left: 16px;
    background-color: rgba(0,0,0,0);
    border: #FFFFFF solid 1px;
}
.section-darkness{
    background-color: rgba(0,0,0,0.7);
}
.color-text{
    color: #E3B873;
}
.projects-section{
    background-color: #131313;
}
.project-content{
    padding: 105px 135px 411px;
}
.projects-nav{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.projects-nav-item{
    margin-right: 60px;
    color: rgba(255, 255, 255, 0.3);
    align-items: flex-start;
    font-size: 14px;
    line-height: 19px;
}
.projects-nav-item:hover{
    color: #E3B873;
    border-bottom: #E3B873 solid 1px;
    padding-bottom: 7px;
}
.projects-list-item:nth-child(2){
    margin-top: 23px;
}
.projects-list-item:nth-child(3){
    margin-top: 48px;
}
.projects-list-item:nth-child(4){
    margin-top: 79px;
}
.projects-text-title{
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}
.project-text-subtitle{
    font-size: 14px;
    line-height: 27px;
}
.projects-list-text-title{
    font-size: 18px;
    line-height: 25px;
}
.projects-list-column-left:nth-child(1){
    margin-bottom: 29px;
}
.projects-list-column-right:nth-child(1){
    margin-right: 75px;
    margin-bottom: 52px;
}
.online-text-title{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: -327px;
    margin-bottom: 13px;
}
.online-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.online-video{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.play-icon{
    margin-top: -285px;
    margin-bottom: 203px;
}
.online-text-subtitle{
    color: #131313;
    margin-right: 380px;
    margin-left: 380px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin-top: 27px;
}
.submit-label-text{
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.form-container{
    margin-right: 335px;
    margin-left: 335px;
    margin-top: 78px;
}
input{
    border:none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-right: 85px;
    padding-bottom: 5px;
}
.checkbox-text{
    padding-left: 10px;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}
.submit-button{
    padding: 14px 74px;
    margin: auto;
}
.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 29px;
}
.submit-button-text{
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}
.checkbox{

}
.repair-section{
    margin-top: 143px;
}
.repair-container{
    margin-left: 103px;
    margin-right: 101px;
}
.repair-list-container{
    background-color: #FFFFFF;
    margin-top: -125px;
    margin-left: 31px;
    margin-right: 31px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.repair-text-title{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #181818;
}
.repair-section-button{
    width: 228px;
    height: 54px;
}
.repair-section-button-text{
    font-size: 18px;
    line-height: 25px;
}
.repair-list {
    padding-top: 8px;
    padding-left: 43px;
    padding-bottom: 17px;
}
.repair-section-title{
    padding-left: 34px;
    padding-top: 20px;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.repair-list-item{
    list-style-type: disc;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.img-container{
    width: 392px;
    height: 421px;
}
.img-container-left{
    background-image: url("/img/image.jpg");
}
.img-container-center{
    background-image: url("/img/image 3.jpg");
}
.img-container-right{
    background-image: url("/img/image 3-2.jpg");
}

.options-form{
    justify-content: space-between;
    margin-top: 122px;
    margin-right: 100px;

}
.wrapper-repair{
    background-image: url("/img/image 6.1.jpg");
    width: 703px;
}
.container-repair{
    padding-top: 50px;
    padding-left: 132px;
}
.container-repair-option{
    padding-top: 46px;
    padding-left: 93px;
    display: flex;
    align-items: center;
}
.repair-option-circle{
    padding-top: 8px;
}
.repair-option-circle-number{
    margin-left: -53px;
}
.repair-option-circle-text{
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin-left: 30px;
}
.wrapper-form{
    width: 506px;
    background-color: #131313;
    margin-top: 107px;
}
.wrapper-form p {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 26px;
}
.wrapper-form-checkbox{
    margin-top: -28px;
}

.wrapper-form div form {
    margin-left: 50px;
    margin-top: 34px;
    margin-bottom: 45px;
}
.wrapper-form div label{
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.wrapper-form div form input{
    width: 408px ;
    background-color: transparent;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.wrapper-form div form label span{
    padding-left: 9px;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.wrapper-form button {
    margin-top: 35px;
    margin-left: 244px;
    padding: 15px 38px 14px;
}
.wrapper-form form {
    margin-left: 51px;
}

.wrapper-form button span{
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.help-save{
    margin-left: 846px;
    margin-top: 12px;
    display: inline-flex;
    align-items: center;
}
.help-save img {
    padding-top: 12px;
}
.help-save span {
    font-size: 18px;
    text-shadow: 0 3px 10px rgba(227, 184, 115, 0.15);
}


