@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Yeseva+One&display=swap');

html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
}
.title{
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subtitle{
    font-family: 'Nunito Sans', sans-serif;;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text-color{
    color: #E3B873;
}
.content-container{
    max-width: 87.5%;
    margin: 0 auto;
}
.container {
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
}
.space{
    justify-content: space-between;
}
.image-center{
    display: block;
    margin: 0 auto;
}
/*HEADER*/
.header {
    width: 100%;
    background-color: #131313;
}
.header-content{
    justify-content: space-between;
    height: 85px;
}
.nav{
    margin-left: 40px;
    display: flex;
}
.nav-item{
    padding:0 27px;
}
nav ul li a:hover{
    color: #E3B873;
}
.phone{
    text-align: right;
}
.button{
    background: #E3B873;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 0.2rem;
}
.header-button{
    padding: 10px 35px;
    font-style: italic;
}
/*HOME SECTION*/
.home-section{
    background-image: url("img/homeSectionBackground.jpg");
}
.home-section-darkness-background{
    background-color: rgba(0,0,0,0.7);
}
.home-section-container{
    padding-left: 45px;
    padding-top:187px;
    padding-bottom: 210px;
}
.home-text-title{
    width: 45%;
    font-size: 4rem;
    line-height: 5.3rem;
    text-transform: uppercase;
}
.home-text{
    margin-top: 1.9rem;
    width: 45%;
    font-size: 2.2rem;
    line-height: 3.6rem;
    color: #FFFFFF;
}
.home-button{
    margin-top: 28px;
    padding: 16px 45px;
}
.home-button-trans{
    padding: 15px 28px;
    margin-left: 16px;
    background-color: rgba(0,0,0,0);
    border: #FFFFFF solid 1px;
}
/*PROJECTS SECTION*/
.projects-section{
    background-color: #131313;
}
.project-content{
    padding: 105px 43px 411px;
}
.projects-nav{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.projects-nav-item{
    margin-right: 60px;
    color: rgba(255, 255, 255, 0.3);
    align-items: flex-start;
    font-size: 14px;
    line-height: 19px;
}
.projects-nav-item:hover{
    color: #E3B873;
    border-bottom: #E3B873 solid 0.1rem;
    padding-bottom: 7px;
}
.projects-list-wrapper{
    margin-top: 50px;
    margin-bottom: 55px;
    flex-wrap: wrap;
}
.projects-list-container{
    width: 40%;
}
.projects-list-wrapper div{
    width: 191px;
    margin-bottom: 30px;
}
.projects-text-title{
    width: 50%;
    text-align: left;
    font-size: 2.7rem;
    line-height: 3.7rem;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}
.project-text-subtitle{
    width: 100%;
    text-align: left;
    margin-top: 24px;
    font-size: 1.4rem;
    line-height: 2.7rem;
}
.projects-image-mobile{
    display: none;
}
.projects-list-text-title{
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.projects-list-text-subtitle{
    margin-top: 7px;
    font-size: 1.3rem;
    line-height: 2.1rem;
}
/*ONLINE SECTION*/
.online-section{
    margin-top: -323px;
}
.online-container img{
    margin: 0 auto;
}
.online-video{
    display: flex;
    margin: 30px auto 62px;
    width: 817px;
    height: 434px;
    background-image: url(img/onlineVideo.jpg);
    align-items: center;
}
.transparent{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
}
.play-icon{
    width: 18%;
}
.online-text-subtitle{
    margin: 27px auto;
    width: 54%;
    color: #131313;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}
.submit-label-text{
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.form-container{
    width: 61%;
    margin: 81px auto 0;
}
input{
    background: transparent;
    border:none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #131313;
}
.submit-button{
    padding: 17px 79px;
    margin: auto;
}
.form-checkbox {
    width: 23%;
    margin: 35px auto;
}
.check{
    padding-left: 10px;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}
.checkbox-input{
    position: absolute;
    -webkit-appearance: none;
}
.checkbox{
    position: absolute;
    margin-left: -2.2em;
    background-color: #E3B873;
    width: 1.6em;
    height: 1.6em;
}
.checkbox-input:checked + .checkbox{
    background-image: url("img/svg/checkboxOn.svg");
}
/*REPAIR SECTION*/
.repair-section{
    margin-top: 143px;
}
.repair-text-title{
    margin-bottom: 11px;
    font-size: 2.0rem;
    line-height: 2.8rem;
    text-align: center;
    color: #181818;
}
.repair-wrapper{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 30px auto;
}
.img-container{
    width: 32%;
    background-repeat: no-repeat;
}
.img-left{
    background-image:url("img/imageLeft.jpg");
}
.img-center{
    background-image: url("img/imageCenter.jpg");
}
.img-right{
    background-image: url("img/imageRight.jpg");
}
.repair-list-container{
    width: 84%;
    margin: 295px auto 0;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding-top: 23px;
}
.repair-section-title{
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-left: 35px;
}
.repair-list {
    margin: 6px 43px 0;
    padding-bottom: 42px;
}
.repair-list-item{
    list-style-type: disc;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.repair-section-button{
    width: 228px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 16px 0;
    position: relative;
    bottom:28px;
    left: 34px
}
/*REQUESTS SECTION*/
.section-request{
    background-image: url(img/backgroundDrawRequestsSection.jpg);
    background-position: 0 -30%;
    background-repeat: no-repeat;
    margin: 166px 0 0;
}
.options-form{
    padding-top: 32px;
    display: flex;
    justify-content: space-around;
}
.wrapper-repair{
   display: block;
    width:37%;
}
.wrapper-repair img{
    margin-left: 125px;
    margin-bottom: 60px;
    margin-top: -8px;
}
.wrapper-repair img:last-child{
    margin-bottom: 0;
}
.wrapper-forma{
    width: 35%;
    background-color: #131313;
}
.wrapper-forma-title{
    width:50%;
    margin:  30px auto;
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
}
.wrapper-forma-form{
    margin: 0 48px 53px;
}
.wrapper-forma-form:last-child{
    margin-bottom: 0;
}
.checkbox-request{
    width: 60%;
    margin: 20px 63px;
}
.button-request-forma{
    margin: 15px 0 0 243px;
    padding: 18px 49px;
}
.help-save{
    margin-left: 846px;
    margin-top: 12px;
    margin-bottom: 212px;
    display: inline-flex;
    align-items: center;
}
.help-save img {
    padding-top: 12px;
}
.help-save span {
    font-size: 1.8rem;
    text-shadow: 0 3px 10px rgba(227, 184, 115, 0.15);
}
.section-weRealize{
    background-image: url("/img/backgroungImageWeRealizeSectiom.jpg");
}
.section-weRealize-wrapper{
    display:flex;
    width: 1440px;
    height: 865px;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.section-weRealize-wrapper-container {
    width: 765px;
    margin-top:137px;
    margin-left: 100px;
}
.section-weRealize-wrapper-title{
    font-size: 27px;
    line-height: 37px;
}
.weRealize-list{
    margin-top: 35px;
}
.section-weRealize-wrapper-mobile{
    display:none;
}
.weRealize-list li {
    margin-bottom: 11px;
}
.weRealize-list li a{
    font-size: 20px;
    line-height: 38px;
}
.weRealize-list li a:hover {
    border-bottom: #E3B873 solid 1px;
    color: #E3B873;
}
.section-weRealize-wrapper-container-leftColumn{
    margin-top:-40px
}
.section-weRealize-wrapper-container-leftColumn img {
    margin-bottom: 36px;
}
.section-weRealize-wrapper-container-rightColumn{
    margin-top: -112px;
    margin-left: -55px;
}
.section-weRealize-wrapper-container-rightColumn img{
    margin-bottom: 36px;
}
.section-ourClients{
    margin-top: 108px;
}
.section-ourClients-subtitle{
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 2.9rem;
    text-align: center;
    color: #363636;
}
.section-ourClients-wrapper{
    width: 1256px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.section-ourClients-item{
    width: 376px;
    background: #FFFFFF;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
}
.section-ourClients-item-head{
    display: flex;
    justify-content: normal;
    align-items: center;
    margin: 30px 30px 20px 30px;
}
.section-ourClients-item-head img{
    border-radius: 100%;
}
.section-ourClients-item-head span {
    margin: auto;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.section-ourClients-item p{
    margin: 0 30px 45px;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}
.section-ourClients-item-banner{
    width: 294px;
    background-color: #E3B873;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 30px;
}
.section-ourClients-item-banner span{
    font-size: 17px;
    line-height: 24px;
}
.section-ourClients-city{
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-ourClients-city div:first-child{
    background-image: url("/img/svg/backgroundDrawCityLeftOurClientsSection.svg");
    opacity: 0.05;
    background-position:10% 82%;
    width: 50%;
}
.section-ourClients-city div:last-child{
    background-image: url("/img/svg/backgroundDrawCityRightOurClientsSection.svg");
    background-position:90% 82%;
    opacity: 0.05;
    width: 50%;
    height: 351px;
}
.question-section{
    width: 100%;
    background-image: url("/img/svg/backgroundDrawTownOurClientsSection.svg");
    background-color: rgba(0, 0, 0, 0.99);
    margin-top: -220px;
}
.question-form {
    position: relative;
    z-index: 1;
    background-color: #131313;
    margin: 160px 291px auto;
    width: 61%;
    text-align: center;
}
.question-form p{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-top: 30px;
}
.question-form input{
    background-color: transparent;
}
.question-form-wrapper{
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 45px 180px;
}
.question-form-wrapper form{
    width: 45%;
}
.label{
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.question-form-question{
    width: 60%;
    text-align: left;
    margin: auto;
    border-bottom: #959595 solid 1px;
}
.question-form-data{
    margin:50px auto;
    font-size: 14px;
    line-height: 163.68%;
}
.label-data{
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.question-form button{
    margin-bottom: 28px;
}
.address{
    width: 45%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-top: 275px;
}
.icons{
    text-align: center;
    margin-top: 22px;
}
.icons img{
    margin-left: 3px;
    margin-right: 8px;
}
.map-mobile{
    display: none;
}
.map{
    width: fit-content;
    margin: 39px auto 0;
    padding-bottom: 57px;
}
.footer {
    background-color: #131313;
    max-width: 1440px;
    margin: auto;
    padding: 28px 0;
}





